// 引入 清除默认样式
@use './reset.scss';

html,
body,
#app {
    width: 100%;
    height: 100%;
    color: aliceblue;
    background: url(@/assets/image/bg5.jpg) no-repeat center;
    background-size: cover;

}