html,body,#app{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-family: "Hiragino Sans GB";
    background: url(@/assets/image/bg5.jpg) no-repeat center;
    background-size: cover;
}
