html,body,#app{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.bg{
    width: 100%;
    height: 100%;
    background: url(../image/bg.png) no-repeat center ;
    background-size: cover;
}